<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Times</h1>
    <div>
        <a href="/admin/time/add">+ time</a>
    </div>
    <table>
        <tr>
            <td>Time</td>
            <td>Estádio</td>
            <td>Ações</td>
        </tr>
        <tr>
            <td>Inter</td>
            <td>Beira-rio</td>
            <td>
                <a href="/admin/time/edt/1">editar</a><br/>
                <a href="/admin/time/del/1">excluir</a>

            </td>
        </tr>
        <tr>
            <td>Bahia</td>
            <td>Fonte</td>
            <td>
                <a href="/admin/time/edt/1">editar</a><br/>
                <a href="/admin/time/del/1">excluir</a>

            </td>
        </tr>
        
    </table>
</body>
</html>